:root {
    --filter-btn-width: 110px;
    --filter-ddl-extra-width: 180px;
}

* {
    box-sizing: border-box;
    /* overflow: hidden; */
}

body {
    margin: 0;
    padding: 0;
}

/* Header */

header > nav {
    border-bottom: 1px solid black;
    height: 65px;
    display: flex;
    align-items: center;
}

header > nav > .logo {
    /* border: 1px solid green; */
    margin-left: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header > nav > .logo > img {
    /* border: 1px solid black; */
    width: 34px;
    margin-right: 10px;
}

header > nav > .logo > h3 {
    /* border: 1px solid black; */
}

header > nav > select {
    height: 2em;
    margin-left: auto;
    margin-right: 150px;
}

/* Main */

main > p {
    /* border: 1px solid black; */
    margin: 0;
}

.heatmap {
    border: 1px solid black;
    width: 40vw;
    display: block;
    /* margin-left: 30%; */
    padding: 0;
    position: absolute;
    bottom: 0;
}

.filters {
    /* border: 1px solid black; */
    /* width: 20%; */
    margin-left: 60%;
    margin-right: 10%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    height: 40px;
}

/* Testing top */
.filters > select {
    width: 110px;
}

/* Testing bottom - better */
.filters > div {
    outline: 1px solid pink;
    width: var(--filter-btn-width);
}

.filters > div > button {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.filters > .service-div {
    /* border: 1px solid black; */
}

/* Dropdown list (ddl) */
.filters > .service-div > .service-ddl {
    border: 1px solid black;
    width: calc(var(--filter-btn-width) + var(--filter-ddl-extra-width));
    /* height: 200px; */
    position: relative;
    left: calc(-1 * var(--filter-ddl-extra-width));
    left: -var(--filter-ddl-extra-width);
    display: none;
    z-index: 9999
}

/* .filters > .service-ddl > .menu {
    border: 1px solid black;
    width: inherit;
    padding-left: 100px;
    height: 100%;
    margin: 0;
    padding: 0;
} */

.filters > .service-div > .service-ddl > div {
    outline: 0.5px solid black;
}

.filters > .service-div > .service-ddl button {
    /* outline: 1px solid red; */
    height: 100%;
    /* display: none; */
    border: none;
    padding: 0;
    padding-left: 15px;
    margin: 0;
    text-decoration: none;
    background: white;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    /* transition: background 250ms ease-in-out, transform 150ms ease; */
    -webkit-appearance: none;
    -moz-appearance: none;
}

.filters > .service-div > .service-ddl > div > button > div {
    position: absolute;
    left: 6px;
    margin-top: 8px;
    display: none;
}

.filters > .service-div > .service-ddl li {
    /* outline: 1px solid red; */
    font-size: 16px;
    padding: 8px;
    list-style-type: none;
}