<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial scale=1.0">
        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="static/images/stem-center.ico">
        <title>STEM Center Traffic</title>
    </head>
    <body>
        <h1>PUSH TO GITHUB WITH "git push origin -u build/flask" FIRST THING AFTER DELETING ME</h1>
        <header>
            <nav>
                <div class="logo">
                    <img src="static/images/stem-center.png">
                    <h3>STEM Center</h3>
                </div>
                <select>
                    <option value="2023 Spring">2023 Spring</option>
                    <option value="2022 Fall" selected>2022 Fall</option>
                </select>
            </nav>
        </header>
        <main>
            <p>Filtering by <b>Service: In-person Tutoring (STEM Center)</b>, <b>Course: [MATH-252]Calcu/Analytic Geometry II</b>, and <b>Department: MATH</b></p>
            <img class="heatmap" src="{{ url_for('visualize') }}">
            <form class="filters">
                <select>
                    <option disabled selected>Service</option>
                    {% for service in services %}
                        <option>{{ service }}</option>
                    {% endfor %}
                </select>
                <select>
                    <option disabled selected>Course</option>
                    {% for course in courses %}
                        <option>{{ course }}</option>
                    {% endfor %}
                </select>
                <select>
                    <option disabled selected>Department</option>
                    {% for dept in depts %}
                        <option>{{ dept }}</option>
                    {% endfor %}
                </select>
            </form>

            <form class="filters">
                <div class="service-div">
                    <button class="service-btn" type="button">Service</button>
                    <div class="service-ddl">
                        {% for service in services %}
                            <div>
                                <button id="{{ service }}-btn"type="button">
                                    <div class="checkmark">&#x2713;</div>
                                    <li>{{ service }}</li>
                                </button>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="course-div">
                    <button class="course-btn" type="button">Course</button>
                    <div class="course-ddl">
                    </div>
                </div>

                <div class="dept-div">
                    <button class="dept-btn" type="button">Department</button>
                    <div class="dept-ddl">
                    </div>
                </div>
                
            </form>
        </main>
        <script>

            // Show and hide dropdown list on btn click
            let serviceDropdown = document.querySelector('.service-ddl');
            let serviceBtn = document.querySelector('.service-btn');
            serviceBtn.addEventListener('click', function() {
                if (serviceDropdown.style.display != "block") {
                    serviceDropdown.style.display = "block";
                } else {
                    serviceDropdown.style.display = "none";
                }
            });

            // Hide dropdown if click not on button or not on dropdown
            window.addEventListener('click', function(e) {
                if (!serviceDropdown.contains(e.target)) {
                    if (!serviceBtn.contains(e.target)) {
                        serviceDropdown.style.display = "none";
                    }
                }
            });

            // Add functionality for when option clicked
            // Make set to track selected services
            var selectedServices = new Set();
            // Convert passed in python to json to use
            let services = {{ services|tojson }};
            for (let service of services) {
                services[service] = document.getElementById(`${service}-btn`);
                services[service].addEventListener('click', function() {
                    console.log(`Clicked ${service}!`);
                    if (services[service].querySelector('.checkmark').style.display == 'block') {
                        // Uncheck service
                        services[service].querySelector('.checkmark').style.display = 'none';
                        selectedServices.delete(service);
                    } else {
                        // Check service
                        services[service].querySelector('.checkmark').style.display = 'block';
                        selectedServices.add(service);
                    }
                    console.log(selectedServices);
                });
            }

        </script>
    </body>
</html>